<html>
    <head>
        <title>Welcome to ezcourses</title>
    </head>
    <body>
        <h1>EZC</h1>
        <button id="id_recipes_button">
            <a href="/recipes">Recipes</a>
        </button>
        <button id="id_ingredients_button">
            <a href="/ingredients">Ingredients</a>
        </button>
        <table id="id_selected_recipes_table">
            {% for selected_recipe in shopping_list.recipes.all %}
                <tr>
                    <td>{{ selected_recipe.name }}</td>
                    <td>{{ selected_recipe.ingredients_count }}</td>
                </tr>
            {% endfor %}
        </table>
        <button id="id_shopping_list_generation_button">
            <a href={% url "shopping_list_generation" %}>Generate shopping list</a>
        </button>
        {% if error %}
            <div id="id_error_message">
                <p>{{ error }}</p>
            </div>
        {% endif %}
    </body>
</html>