<html>
    <head>
        <title>Ingredients</title>
    </head>
    <body>
        <h1>Ingredients</h1>
        <table id="id_ingredients_table">
            {% for ingredient in ingredients %}
                <tr>
                    <td>{{ingredient.name}} </td>
                    <td>{{ingredient.shelf.name}} </td>
                    <td>{{ingredient.category.name}} </td>
                    <td>{{ingredient.unit.name}} ({{ingredient.unit.abbreviation}})</td>
                    <td>{{ingredient.price}} €</td>
                    <td>
                        <button id="id_details_button_{{ingredient.id}}">
                            <a href="/ingredients/{{ingredient.id}}/">Details</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table> 
    </body>
</html>