<html>
    <head>
        <title>Recipes</title>
    </head>
    <body>
        <h1>Recipes</h1>
        <table id="id_recipes_table">
            {% for recipe in recipes %}
                <tr>
                    <td>{{recipe.name}}</td>
                    <td>Ingredients count: {{recipe.ingredients_count}}</td>
                    <td>
                        <button id="id_details_button_{{recipe.id}}">
                            <a href="/recipes/{{recipe.id}}/">Details</a>
                        </button>
                    </td>
                    <td>
                        <button id="id_select_button_{{recipe.id}}">
                            <a href="/add_recipe/{{recipe.id}}">Select</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>